<app-slider-six></app-slider-six>
<app-service-six></app-service-six>
<app-about-six></app-about-six>
<app-project-six></app-project-six>
<app-banner-six></app-banner-six>
<app-team-six></app-team-six>
<app-rating-six></app-rating-six>
<app-news-six></app-news-six>
<app-testimonial-six></app-testimonial-six>
<app-faq-six></app-faq-six>
<app-brand-six></app-brand-six>