<!-- Top-Section -->
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="top-content">
                  <ul>
                      <li><i class="fa fa-phone" aria-hidden="true"></i>(+01) 123 456 789</li>
                      <li><i class="fa fa-envelope-o" aria-hidden="true"></i>abcd@gmail.com</li>
                  </ul>
              </div>
          </div>
          <div class="col-md-6">
              <div class="top-social">
                  <ul>
                      <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                      <li><a href=""><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      <li class="my-account"><a href="" >My Account</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
<!--End-Top-Section-->
