<div class="footer_third">
        <div>
            <div class="footer-title">
                <h3>Gallery</h3>
            </div>
            <div class="footer-gallery footer-contant">
                <ul>
                    <li><a href="#"><img src="assets/images/gallery/1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/gallery/2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/gallery/3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/gallery/4.jpg" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/gallery/5.jpg" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/gallery/6.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>