/*=====================
    22.Responsive CSS start
==========================*/

@media (max-width: 1670px){
  h1 {
    &.top {
      margin-top: -7px;
    }
  }
  .about_img{
    img{
      right: 25px;
    }
    &.about_img_5{
      img{
        left: 30px;
      }
    }
  }
  .about_machine_5{
    right: 50px;
  }
  .about_machine{
    bottom: -75px;
    width: 25%;
    left: 15px;
  }
  .about_us_4{
    img{
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
    }
  }
  .home_slider{
    .slide_1{
      .slider_content{
        h3{
          &.home_2_title{
            margin-top: 72px;
          }
        }
      }
    }
    &.home_3_slider{
      .slide_1{
        .slider_content{
          h3{
            &.home_2_title{
              margin-top: -7px;
            }
          }
        }
      }
    }
    &.home_5_slider{
      .slide_1{
        .slider_content{
          h3{
            &.home_2_title{
              margin-top: -8px;
            }
          }
        }
      }
    }
  }

  .our_project{
    .project_row {
      .filter {
        width: 100%;
        flex: 0 0 25%;
        max-width: calc(25% - 30px);
        margin: 30px 15px 0;
        &:nth-last-child(-n+5) {
          margin: 30px 15px 0;
        }
        &:nth-last-child(-n+3) {
          margin: 30px 15px 0;
        }
      }
      figure {
        &.snip_con {
          figcaption {
            .text_pro {
              h4,h6 {
                margin-left: 10px;
              }
            }
            .link_icon {
              a{
                &.zoom_gallery {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }


}

@media (max-width: 1440px){

  .con_title {
    h2 {
      margin-top: -4px;
    }
  }
  h1 {
    &.top {
      margin-top: -9px;
    }
  }
  .about_img{
    img{
      right: 15px;
      width: 50%;
    }
    &.about_img_5{
      img{
        left: 8px;
      }
    }
  }
  .about_machine_5 {
    width: 420px;
  }
  .about_machine{
    bottom: -135px;
    width: 27%;
    left: 15px;
  }

}

@media (max-width: 1366px){
  .con_title {
    h2 {
      margin-top: -3px;
    }
  }
  section {
    padding: 80px 0;
  }
  .our_project{
    .project_row {
      figure {
        &.snip_con {
          figcaption {
            .text_pro {
              h4,h6 {
                margin-left: 10px;
              }
            }
            .link_icon {
              a{
                &.zoom_gallery {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
  .about_machine {
    bottom: -55px;
    width: 17%;
  }

  body{
    &.rtl {
      .about_img {
        img {
          left: 30px;
        }
      }
      .our_project {
        .project_row {
          figure{
            &.snip_con {
              figcaption {
                .link_icon {
                  a{
                    &.zoom_gallery {
                      margin-left: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }


}

@media (max-width: 1200px){

  .navbar {
    .menu-btn {
      margin-left: 30px;
    }
  }
  h1 {
    &.top {
      margin-top: -8px;
    }
  }
  .home_slider{
    .icon{
      display: none;
    }
    &.home_3_slider{
      .icon{
        display: none;
      }
    }
  }
  .about_machine{
    display: none;
  }
  .about_machine_5 {
    display: none;
  }
  .our_project{
    .project_row {
      figure {
        &.snip_con {
          figcaption {
            .text_pro {
              h4,h6 {
                margin-left: 4px;
              }
            }
            .link_icon {
              a{
                padding: 7px;
                &.zoom_gallery {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media (max-width: 1199px){

  .con_btn{
    padding: 10px 15px;
  }
  .home_slider {
    .slide_1 {
      height: 80vh;
      .home_cun_slider_1 {
        height: 80vh;
      }
      .slider_content{
        height: 80vh;
        h3{
          &.home_2_title{
            margin-top: 50px;
          }
        }
      }
    }
    &.home_2_slider {
      .slide_1 {
        .home_cun_slider_1 {
          height: 80vh;
          .slider_content {
            height: 80vh;
          }
        }
      }
    }
    &.home_3_slider{
      .slide_1 {
        height: 80vh;
        .slider_content{
          height: 80vh;
        }
      }
    }
    &.home_4_slider{
      .slide_1 {
        height: 80vh;
        .slider_content{
          height: 80vh;
        }
      }
      h1{
        &.top{
          margin-top: -10px;
        }
      }
    }
    &.home_5_slider{
      .slide_1 {
        .home_cun_slider_1 {
          height: 80vh;
          .slider_content {
            height: 80vh;
          }
        }
      }
    }
  }
  .about_us_4{
    img{
      display: none;
    }
  }
  .about_us_sec {
    &.about_page {
      .about_sec_con {
        .about_content {
          padding: 0;
          margin-bottom: 0;
        }
      }
      .about_us_4{
        img{
          display: block;
        }
      }
    }
  }

  .navbar{
    &.nav_5 {
      .search.open {
        width: 250px;
      }
    }
  }

  .contect_Quote{
    .contect_Quote_flex{
      .quote_content{
        h5{
          margin-bottom: 0;
        }
      }
    }
    .btn_center {
      .contect_Quote_btn {
        margin-top: 10px;
      }
    }
  }

  .navbar{
    padding:5px 25px;
    .menu-btn{
      margin-left: 10px;
    }
    .navbar-nav {
      .nav-item {
        .nav-link{
          padding: 10px;
        }
      }
    }
    &.nav_3{
      &:after{
        width: 55%;
      }
    }
    &.nav_4{
      .navbar-brand{
        img{
          width: 170px;
        }
      }
      .navbar-nav{
        a{
          padding: 15px 0 0 30px;
        }
      }
    }
  }

  .our_service{
    .service_our{
      figure {
        &.snip_con {
          p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }

  .our_service_2{
    .service_our_2{
      .service_content{
        p{
          line-height: 1.5em;
          margin-bottom: 5px;
        }
      }
    }
  }

  .newsletter_sec{
    .call_us{
      margin: 0 5px auto;
      .phone_img{
        &.msg{
          img{
            width: 35px;
          }
        }
        img{
          width: 30px;
        }
      }
      .con_text{
        margin: 0 0 0 5px;
      }
    }
  }

  .about_sec {
    .about_btn{
      margin-top: 0;
    }
    .about_sec_con{
      display: flex;
      text-align: center;
      .con_title {
        h2 {
          text-align: center;
          &:after {
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      .about_content{
        margin-bottom: 25px;
        padding: 0 140px;
        p{
          font-weight: 500;
        }
      }
      .center_btn{
        display: flex;
        justify-content:center;
      }
    }
    &.about_sec_2{
      .about_sec_con{
        text-align: unset;
        .con_title {
          h2 {
            text-align: unset;
            &:after {
              left: 10%;
              transform: translate(-50%, -50%);
            }
          }
        }
        .about_content{
          padding: unset;
          p{
            font-weight: 500;
          }
        }
        .about_btn{
          display: flex;
          margin: unset;
        }
        .center_btn{
          display: block;
        }
      }
      .about_2_img {
        display: flex;
      }
    }
  }

  .our_project{
    .project_button {
      padding: 10px 30px;
    }
    .project_row {
      .filter {
        width: 100%;
        flex: 0 0 33.33%;
        max-width: calc(33.33% - 30px);
        margin: 20px 15px 0;
        &:nth-last-child(-n+5) {
          margin: 20px 15px 0;
        }
        &:nth-last-child(-n+3) {
          margin: 20px 15px 0;
        }
      }
      figure {
        &.snip_con {
          figcaption {
            .text_pro {
              h4,h6 {
                margin-left: 10px;
              }
            }
            .link_icon {
              a{
                padding: 10px;
                &.zoom_gallery {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  .faq_section{
    .accordion{
      &.faq_sec{
        .card{
          .card-body{
            padding: 14px 15px;
          }
        }
      }
    }
    .faq_strength {
      .media {
        padding: 16px 0;
        &:nth-last-child(2){
          padding:0 0;
        }
        img{
          margin-right: 5px;
          margin-left: 5px;
        }
      }
    }
    &.home_faq_2{
      .accordion{
        &.faq_sec{
          .card{
            .card-header{
              padding: 9px 10px;
            }
          }
        }
      }
    }
  }

  .about_img{
    img{
      opacity: .1;
    }
  }

  .testimonial {
    .testimonial_slide {
      .testimonial_sec {
        padding: 0 90px;
        .img_quote {
          top: 0;
          font-size: 40px;
          left: 400px;
        }
      }
    }
    &.home_2_testimonial {
      .testimonial_slide {
        .testimonial_sec {
          .img_quote {

          }
        }
      }
    }
    &.home_4_testimonial{
      .testimonial_slide_4{
        .testimonial_sec{
          p{
            padding: 20px 0;
            letter-spacing: unset;
            .quote_left {
              top: 5px;
              left: -15px;
            }
            .quote_right {
              right: -14px;
              bottom: 8px;
            }
          }
        }
      }
    }
  }

  .accordion{
    &.faq_sec {
      .card{
        .card-body{
          letter-spacing: unset;
        }
      }
    }
  }

  .brand_slide{
    .brand_1 {
      padding: 10px 15px;
    }
  }

  .banner_project{
    .bot_center {
      .banner_text {
        padding: 30px 80px;
      }
    }
  }

  .comment_form{
    &.map_form{
      .map_text {
        padding: 60px;
      }
      .center{
        .contect_form{
          .full_form {
            padding: 60px;
          }
        }
      }
    }
  }

  footer{
    .upper-section{
      padding: 60px 0;
    }
    .footer_first{
      p {
        margin: 10px 0;
      }
    }
    .footer_second{
      h3{
        margin-top: 20px;
      }
    }
    .footer_third{
      h3 {
        margin-top: 20px;
      }
    }
    .footer_forth{
      h3 {
        margin-top: 20px;
      }
    }
  }

  body{
    &.rtl {
      .about_sec {
        .about_content {
          h3 {
            text-align: center;
          }
          p {
            text-align: center;
          }
        }
        .con_title {
          h2 {
            text-align: center;
          }
        }
        &.about_sec_2 {
          .about_content {
            h3 {
              text-align: right;
            }
            p{
              text-align: right;
            }
          }
          .about_sec_con {
            .con_title {
              h2 {
                text-align: right;
              }
            }
          }
        }
      }
      .newsletter_sec {
        .call_us {
          .con_text {
            margin: 0 5px 0 0;
          }
        }
      }
    }
  }

}

@media (max-width: 991px){

  section {
    padding: 50px 0;
  }
  .con_title {
    margin-bottom: 40px;
  }
  .project_home_two {
    padding: 50px 0 0 0;
  }
  .project_home_two{
    &.project_home_three {
      padding: 50px 0;
    }
  }
  .project_home_four{
    .filter{
      &:nth-last-child(-n + 4){
        margin-top: 30px;
      }
    }
    .our_project_4{
      .project_button{
        padding: 10px 15px;
      }
    }
  }

  h1 {
    &.top {
      margin-top: -7px;
    }
  }
  .top-contact {
    .top-content {
      ul {
        li{
          &:first-child {
            padding-right: 10px;
          }
        }
      }
    }
  }

  .logo_button_sec {
    padding: 15px 0;
    .main-menu {
      .logo_btn_text {
        display: none;
      }
    }
  }

  .home_slider {
    .slide_1 {
      height: 70vh;
      .home_cun_slider_1 {
        height: 70vh;
      }
      .slider_content {
        height: 70vh;
        h3 {
          margin-top: 20px;
          letter-spacing: 0.05em;
          font-size: 18px;
          &.home2{
            margin-top: 15px;
          }
          &.home_2_title{
            margin-top: 52px;
            letter-spacing: 0.02em;
          }
        }
        .slider_btn_2 {
          margin-top: 30px;
        }
      }
    }
    &.home_2_slider {
      .slide_1 {
        .home_cun_slider_1 {
          height: 70vh;
          .slider_content {
            height: 70vh;
          }
        }
      }
    }
    &.home_3_slider{
      .slide_1 {
        height: 70vh;
        .slider_content{
          height: 70vh;
          h3{
            &.home_2_title{
              &:after{
                margin: 20px 0 20px 0;
              }
            }
          }
          h5{
            margin-top: 20px;
          }
          .slider_btn_3 {
            margin-top: 40px;
          }
        }
      }
    }
    &.home_4_slider{
      .slide_1 {
        height: 70vh;
        .slider_content{
          height: 70vh;
        }
      }
      h1{
        &.top{
          margin-top: -6px;
        }
      }
    }
    &.home_5_slider{
      .slide_1 {
        .home_cun_slider_1 {
          height: 70vh;
          .slider_content {
            height: 70vh;
          }
        }
      }
    }
  }

  .navbar{
    &.nav_5 {
      .navbar-nav {
        .nav-item {
          .nav-link{
            padding: 14px 14px 14px 0;
          }
        }
      }
    }
  }

  #mymenu {
    .dropdown-menu{
      display: none;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
      &.show {
        display: block;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
      }
    }
  }

  .contect_Quote{
    .contect_Quote_flex{
      .q_icon{
        margin-right: 10px;
      }
      .quote_content{
        h5{
          margin-bottom: 0;
        }
      }
    }
    .btn_center {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }
  .project_button {
    padding: 10px 16px;
  }
  .navbar{
    padding:0 15px;
    background-color: $white;
    .menu-btn{
      width: 100%;
      margin: 0;
    }
    .navbar-nav{
      margin-top: 8px;
    }
    &.navbar-light{
      .navbar-brand{
        margin-right: unset;
        margin-left: 15px;
      }
      .navbar-toggler{
        padding: 0.45rem 0.85rem;
        font-size: 1.30rem;
        margin-right: 15px;
      }
    }
    &.nav_2{
      background-color: unset;
      .navbar-nav{
        background-color: $color_top;
      }
      &.navbar-light{
        .navbar-toggler{
          color: rgba($white, 0.76);
          border-color: rgba($white, 0.36);
        }
      }
    }
    &.nav_3{
      .navbar-collapse {
        z-index: 2;
      }
      .navbar-brand {
        z-index: 3;
      }
      .navbar-nav{
        .nav-item{
          .nav-link{
            padding: 14px;
            &:hover {
              color: $white;
            }
          }
        }
      }
      &:after{
        width: 79%;
        z-index: 1;
      }
    }
    &.nav_4{
      &.navbar-light{
        .navbar-toggler{
          color: rgba($white, 0.76);
          border-color: rgba($white, 0.54);
        }
      }
      .navbar-nav{
        margin: 0;
        .nav-item{
          .nav-link{
            padding: 15px 0 15px 15px;
          }
        }
        a{
          padding: 15px 0 15px 15px;
          &.btn_link{
            text-align: center;
          }
        }
      }
    }
    &.nav_5{
      &.navbar-light{
        .navbar-toggler{
          color: rgba($white, 0.76);
          border-color: rgba($white, 0.54);
        }
      }
    }
  }

  .quote_content{
    p{
      padding-right: 0;
    }
  }
  .quote_2{
    .quote_content{
      p{
        padding-right: 0;
      }
    }
  }

  .top-banner-content {
    h4 {
      font-size: 20px;
    }
  }
  .collection-filter {
    position: fixed;
    height: 100vh;
    top: 0;
    left: -350px;
    background-color: white;
    z-index: 99;
    overflow-y: scroll;
    padding: 15px 0 15px 15px;
    max-width: 350px;
    transition: all 0.5s ease;
    box-shadow: 1px 0 5px #ddd;
    .collection-sidebar-banner {
      text-align: center;
    }
    .theme-card {
      padding-left: 30px;
      padding-right: 30px;
    }
    .collection-sidebar-banner {
      padding: 0 30px;
    }
  }
  .collection {
    .section-t-space {
      padding-top: 30px;
    }
    .partition-collection {
      > div {
        &:nth-last-child(1) {
          margin-top: 30px;
        }
        &:nth-last-child(2) {
          margin-top: 30px;
        }
      }
    }
  }

  .our_service {
    .row{
      > div{
        &:nth-last-child(-n + 4) {
          .service_our {
            margin-top: 30px;
          }
        }
      }
    }
    .service_our{
      .service_content{
        display: flex;
        .service_icon{
          margin-top: 15px;
        }
        h5 {
          margin-top: 10px;
        }
      }
    }
    figure {
      &.snip_con {
        figcaption {
          padding: 0 40px;
          &:before {
            display: none;
          }
        }
      }
    }
  }

  .our_service_2{
    .row > {
      div{
        &:nth-last-child(-n + 4){
          .service_our_2{
            margin-top: 30px;
          }
        }
      }
    }
    .service_our_2{
      .service_content{
        p{
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          line-height: 1.8em;
        }
        .service_title {
          .icon_bg {
            right: 15px;
            top: -35px;
          }
        }
        a{
          line-height: 2em;
        }
      }
    }
  }
  .our_service_4{
    .row > {
      div{
        &:nth-last-child(-n + 4){
          .service_our {
            margin-top: 30px;
          }
        }
      }
    }
    .service_our{
      .service_content{
        h5{
          margin-top: 10px;
        }
      }
    }
  }

  .home_1_news{
    .news_sec {
      h4{
        line-height: 1.3em;
        margin-top: 6px;
      }
      P{
        line-height: 1.3em;
        letter-spacing: 0.07em;
        margin-top: 5px;
      }
    }
    &.home_3_news{
      padding: 50px 0 0 0;
    }
    &.blog_page{
      .news_sec{
        margin-top: 40px;
      }
      .row{
        > div{
          &:nth-child(-n+3){
            .news_sec{
              margin-top: 40px;
            }
          }
          &:nth-child(-n+2){
            .news_sec{
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  .home_1_team{
    &.home_4_team {
      .team_sec_2 {
        margin-top: 30px;
      }
    }
  }
  .home_1_team{
    &.home_4_team{
      .row{
        > div{
          &:nth-child(-n+3){
            .team_sec_2{
              margin-top: 30px;
            }
          }
          &:nth-child(-n+2){
            .team_sec_2{
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  .banner_project {
    padding: 50px 0 0 0;
  }

  .about_sec {
    .about_sec_con{
      .about_content{
        margin-bottom: 30px;
        padding: unset;
      }
    }
    &.about_sec_2{
      .about_sec_con{
        text-align: unset;
        .con_title {
          h2 {
            text-align: center;
            &:after {
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        .about_content{
          margin-bottom: 30px;
          padding: unset;
          h3{
            text-align: center;
          }
          p{
            font-weight: 500;
            text-align: center;
          }
        }
        .about_btn{
          display: flex;
          margin: 0 auto;
        }
        .center_btn{
          display: flex;
        }
      }
      .about_2_img {
        display: none;
      }
    }
  }

  .project_home_five{
    padding: 50px 0;
  }

  .testimonial {
    .testimonial_slide {
      .testimonial_sec {
        padding: 0 20px;
        .img_quote {
          left: 280px;
        }
      }
    }
    &.home_4_testimonial{
      .testimonial_slide_4{
        .testimonial_sec{
          padding: 50px 35px 40px;
        }
      }
    }
  }

  .our_project {
    .project_button {
      padding: 10px 20px;
    }
  }
  .our_project {
    .project_row {
      figure{
        &.snip_con {
          figcaption {
            .text_pro {
              width: 65%;
              h4,h6  {
                margin-left: 10px;
              }
            }
            .link_icon {
              width: 35%;
              a{
                &.zoom_gallery {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .faq_section{
    .accordion{
      &.faq_sec{
        .card{
          .card-body{
            padding: 6px 15px;
            p{
              letter-spacing: 0.00em;
            }
          }
        }
      }
    }
    .faq_strength{
      .media{
        padding: 17px 0;
        img{
          margin-right: 10px;
          margin-left: 7px;
        }
        .media-body{
          p{
            line-height: 1.5em;
            letter-spacing: 0.00em;
          }
        }
      }
    }
  }
  .about_us_sec{
    &.about_page {
      .about_sec_con {
        padding: 0;
      }
    }
  }

  .brand_slide{
    &.owl-carousel{
      .owl-item{
        img{
          padding: 0;
        }
      }
    }
  }
  .newsletter_sec{
    .call_us{
      justify-content: center;
      .phone_img{
        img{
          width: 30px;
        }
      }
      .con_text{
        margin: 0 0 0 15px;
      }
    }
    .input-group{
      margin-top: 20px;
    }
  }
  .banner_project {
    .bot_center {
      .banner_text {
        padding: 30px 60px;
      }
    }
  }
  .home_1_news{
    &.blog_side_sec{
      .blog_cat{
        order: 2;
      }
      .blog_sec_side{
        .news_sec {
          margin-top: 30px;
        }
      }
      .blog_sidebar{
        .blog_side_title{
          &:nth-child(1){
            h6{
              margin-top: 40px;
            }
          }
        }
      }
    }
  }

  footer {
    .footer_second {
      display: block;
      .footer-contant {
        margin-top: 25px;
      }
    }
  }

  .copyright_sec{
    .cop_p {
      justify-content: center;
    }
    .copy_link {
      text-align-last: center;
      margin-top: 5px;
    }
  }

  body {
    &.rtl {
      .navbar {
        .navbar-nav {
          padding-right: 0;
        }
      }
      .navbar{
        &.nav_4 {
          .navbar-nav {
            .nav-item{
              &:last-child {
                .nav-link {
                  padding-right: 0;
                }
              }
            }
          }
        }
      }
      .navbar{
        &.nav_4 {
          .navbar-nav {
            padding-right: 0;
          }
        }
      }
      .navbar{
        .navbar-nav {
          .nav-item {
            .nav-link {
              text-align: right;
            }
          }
        }
      }
      .about_sec{
        &.about_sec_2 {
          .about_content {
            h3 {
              text-align: center;
            }
            p{
              text-align: center;
            }
          }
          .about_sec_con {
            .con_title {
              h2 {
                text-align: center;
              }
            }
          }
        }
      }
      .top-contact {
        .top-content {
          ul {
            li{
              &:first-child {
                padding-left: 10px;
                padding-right: 0;
              }
            }
          }
        }
      }
      .navbar{
        &.nav_5 {
          .search {
            margin-left: 15px;
          }
        }
      }
      .navbar{
        &.nav_5 {
          .navbar-nav {
            .nav-item{
              &:first-child {
                .nav-link {
                  padding-right: 14px;
                  padding-left: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media (max-width: 767px){
  .coming-sec{
    .content .form-text .text p {
      max-width: 100%;
    }
    .countdown{
      font-size: 48px;
      width: 100%;
      > div{
        width: 50%;
        min-width: auto;
      }
    }
  }
    .top-social{
    display: flex;
    justify-content: center;
  }
  .top-contact{
    .top-content{
      display: none;
    }
  }
  .navbar{
    &.nav_3 {
      &:after {
        width: 100%;
      }
    }
    &.nav_4{
      .navbar-brand{
        img{
          width: 130px;
        }
      }
    }
  }
  .home_slider {
    .slide_1 {
      height: 70vh;
      .slider_content {
        height: 70vh;
        h3 {
          &.home_2_title {
            margin-top: 50px;
            letter-spacing: 0.02em;
          }
        }
        .slider_btn {
          margin-top: 20px;
        }
        .slider_btn_2 {
          margin-top: 35px;
        }
      }
    }
    &.home_4_slider {
      .slide_1 {
        height: 70vh;
        .slider_content {
          height: 70vh;
        }
      }
    }
  }
  .our_service {
    .row {
      > div {
        &:nth-last-child(-n + 4) {
          .service_our {
            margin-top: 25px;
          }
        }
      }
    }
  }
  .contect_Quote {
    .row {
      > div {
        &:nth-child(3) {
          .contect_Quote_flex {
            margin-bottom: 0;
          }
        }
      }
    }
    .contect_Quote_flex {
      margin-bottom: 15px;
      justify-content: center;
      display: block;
      text-align: center;
    }
  }
  .our_service_2{
    .row {
      > div {
        &:nth-last-child(-n + 4) {
          .service_our_2 {
            margin-top: 25px;
          }
        }
      }
    }
    .service_our_2{
      .service_content{
        p {
          line-height: unset;
        }
        .service_title {
          .icon_bg {
            right: 15px;
            top: -35px;
          }
        }
      }
    }
  }
  .our_service_4{
    .row {
      > div {
        &:nth-last-child(-n + 4){
          .service_our {
            margin-top: 30px;
          }
        }
      }
    }
    .service_our{
      .service_content{
        h5{
          margin-top: 7px;
        }
      }
    }
  }
  .home_1_team{
    &.home_2_team{
      .team_sec_2{
        figure {
          &.snip_con {
            figcaption {
              ul {
                li {
                  padding: 0 3px;
                }
              }
            }
          }
        }
      }
    }
  }
  .our_project{
    .project_button {
      padding: 10px 15px;
    }
  }
  .project_home_two{
    .our_project_2{
      .project_button{
        padding: 10px 15px;
      }
    }
  }
  .quote_content{
    h2{
      margin-top: -4px;
    }
    h4{
      letter-spacing: 0.04em;
    }
  }
  .quote_form {
    margin-top: 20px;
  }
  .quote_2{
    .quote_content {
      h2 {
        margin-top: -4px;
      }
    }
    &.comment_form_sec {
      .quote_form {
        .form-row {
          .form-group {
            .form-control {
              padding: 10px 15px;
              &.msg_coment {
                height: 124px;
              }
            }
          }
        }
      }
    }
  }
  .faq_section{
    .accordion{
      &.faq_sec{
        .card {
          .card-body{
            padding: 15px 15px;
          }
        }
      }
    }
    .faq_strength{
      .media {
        padding: 20px 15px;
        &:nth-last-child(2){
          padding:0 15px;
        }
        img{
          margin-right: 15px;
          margin-left: 10px;
        }
      }
    }
  }

  .banner_project {
    .bot_center {
      .banner_text {
        padding: 30px 45px;
        h2 {
          margin-bottom: 10px;
        }
        .title {
          margin-bottom: 8px;
        }
        .center_btn {
          margin-top: 13px;
        }
      }
    }
  }

  .our_project{
    .project_row {
      .filter {
        width: 100%;
        flex: 0 0 50%;
        max-width: calc(50% - 30px);
        margin: 20px 15px 0;
        &:nth-last-child(-n+5) {
          margin: 20px 15px 0;
        }
        &:nth-last-child(-n+3) {
          margin: 20px 15px 0;
        }
      }
      figure{
        &.snip_con {
          figcaption {
            .text_pro {
              width: 70%;
              h4,h6  {
                margin-left: 10px;
              }
            }
            .link_icon {
              width: 30%;
              a{
                &.zoom_gallery {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  .newsletter_sec{
    .call_us{
      display: block;
      .phone_img{
        text-align: center;
      }
      .con_text{
        text-align: center;
        margin: 0;
        h4{
          margin-top: 10px;
        }
        h6{
          line-height: 20px;
        }
      }
    }
    .input-group{
      margin-top: 20px;
    }
  }

  .faq_sec_two{
    margin-top: 30px;
  }
  .rating_sec{
    .row{
      > div{
        &:nth-last-child(-n + 2){
          .rating_cls{
            margin-top: 20px;
          }
        }
        .rating_cls{
          img{
            margin-bottom: 10px;
          }
        }
      }
    }
    &.home_rate_2{
      .row{
        > div{
          &:nth-last-child(-n + 2){
            .rating_cls{
              margin-top: 20px;
            }
          }
          .rating_cls{
            img{
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .project_home_four{
    .filter{
      &:nth-last-child(-n + 4){
        margin-top: 30px;
      }
    }
    .our_project_4{
      .project_button{
        padding: 8px 25px;
        margin-bottom: 10px;
      }
    }
  }
  .project_home_five{
    .our_project_2{
      .project_button{
        padding: 10px 15px;
      }
    }
  }
  .about_sec{
    .about_sec_con {
      .about_content{
        margin-bottom: 20px;
        p{
          margin-top: 15px;
        }
      }
    }
    &.about_sec_2 {
      .about_sec_con {
        .about_content{
          margin-bottom: 25px;
        }
      }
    }
  }
  .testimonial {
    .testimonial_slide {
      .testimonial_sec {
        padding: 0 10px;
        .img_quote {
          left: 190px;
        }
      }
    }
  }
  .quote_2{
    .quote_content{
      order: -1;
    }
  }

  .tap-top{
    bottom: 100px;
    right: 40px;
    img{
      width: 50px;
    }
  }

  .bread_crumb{
    padding: 30px 0;
    .sec_low{
      order: 2;
    }
    .functionalities {
      clear: both;
      position: relative;
      ul {
        &.breadcrumb {
          justify-content: center;
          margin-left: 0;
          padding: 0;
        }
        i {
          position: relative;
          font-size: 16px;
        }
        li {
          height: 30px;
          padding: 0 5px;
          line-height: 30px;
        }
      }
    }
    h5 {
      float: right;
      color: white;
    }
    .page-title {
      justify-content: center;
      float: unset;
      h2 {
        margin-bottom: 10px;
      }
    }
  }

  .get-in-touch {
    .comment-form {
      .form-field {
        margin: 20px 0;
      }
    }
    .title {
      margin-top: 25px;
    }
  }

  .home_1_news {
    &.blog_side_sec {
      .blog_sec_side {
        .row {
          > div {
            &:nth-child(2) {
              .news_sec {
                margin-top: 30px;
              }
            }
          }
        }
      }
    }
  }
  .comment_form{
    &.map_form{
      .map_text {
        padding: 40px;
        .contect_info{
          .footer-contant{
            display: block;
          }
        }
      }
      .center{
        .contect_form{
          .full_form {
            padding: 40px;
          }
        }
      }
    }
    .center{
      margin: 0;
    }
    .form-field {
      padding: 0 20px 0 20px;
    }
  }
  .cdp {
    padding: 20px 0 0 0;
  }
  .not_found {
    h2 {
      margin-top: -30px;
    }
    .btn_error {
      margin-top: 15px;
    }
  }
  .tap-top {
    width: 35px;
    height: 35px;
    bottom: 20px;
    right: 20px;
    padding: 2px;
  }

  .collection {
    .partition-collection {
      > div {
        &:nth-last-child(1),  &:nth-last-child(2), &:nth-last-child(3){
          margin-top: 30px;
        }
      }
    }
  }


  footer{
    .upper-section {
      padding: 40px 0;
    }
    .footer_first {
      display: block;
      .footer-contant{
        padding: 15px 0;
      }
      p {
        margin: 5px 0;
        line-height: 25px;
      }
      .mobile-title {
        display: block;
        h3{
          color: $primary_color;
          font-weight: 600;
          margin: 0;
        }
      }
    }
    .footer-title {
      padding-bottom: 10px;
      text-align: left;
      border-bottom: 1px solid rgba($primary_color, 0.2);
      position: relative;
      cursor: pointer;
      &.active {
        .according-menu {
          font: normal normal normal 15px/1 FontAwesome;
          &:before {
            content: "\f106";
            position: absolute;
            right: 2px;
            top: 2px;
          }
        }
      }
      .according-menu {
        font: normal normal normal 15px/1 FontAwesome;
        &:before {
          content: "\f107";
          position: absolute;
          right: 2px;
          top: 2px;
        }
      }
    }
    .footer_second {
      .footer-contant {
        margin-top: 10px;
      }
    }
    .footer_second,.footer_third,.footer_forth{
      h3 {
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
    .footer_third {
      .footer-gallery {
        margin-top: 15px;
      }
    }
    &.home_2_footer{
      .footer_first {
        .mobile-title {
          h3{
            color: $primary_color;
          }
        }
      }
      .footer-title {
        border-bottom: 1px solid rgba($primary_color, 0.2);
      }
    }
    &.home_3_footer{
      .footer_first {
        .mobile-title {
          h3{
            color: $primary_color;
          }
        }
      }
      .footer-title {
        border-bottom: 1px solid rgba($primary_color, 0.2);
      }
    }
    &.home_4_footer{
      .footer_first {
        .mobile-title {
          h3{
            color: $primary_color;
          }
        }
      }
      .footer-title {
        border-bottom: 1px solid rgba($primary_color, 0.2);
      }
    }
    &.home_4_footer{
      .footer_first {
        .mobile-title {
          h3{
            color: $primary_color;
          }
        }
      }
      .footer-title {
        border-bottom: 1px solid rgba($primary_color, 0.2);
      }
    }
  }

  .single-portfolio {
    .single-product {
      padding: 30px 0 0 0;
      .order-cls {
        order: -1;
      }
    }
    .icon {
      font-size: 15px;
      line-height: 30px;
      margin-top: -30px;
      width: 30px;
      height: 30px;
    }
  }

  body{
    &.rtl {
      .newsletter_sec {
        .call_us{
          .con_text {
            h4 {
              text-align: center;
            }
          }
        }
      }
      footer {
        .footer-title {
          .according-menu{
            &:before {
              left: 2px;
              right: unset;
            }
          }
        }
        .footer_first {
          .mobile-title {
            h3 {
              text-align: right;
            }
          }
        }
        .footer_second {
          h3 {
            text-align: right;
          }
        }
      }
      .contect_Quote {
        .contect_Quote_flex {
          .quote_content {
            h5{
              text-align: center;
              &.quote_title {
                text-align: center;
              }
            }
            .contect_Quote_btn {
              margin-top: 0;
            }
          }
        }
      }
      .bread_crumb {
        .page-title {
          float: unset;
        }
      }
    }
  }


}

@media (max-width: 575px){

  section {
    padding: 30px 0;
  }
  .banner_project {
    padding: 30px 0 0 0;
  }
  .project_home_two {
    padding: 30px 0 0 0;
  }
  .home_1_news{
    &.home_3_news{
      padding: 30px 0 0 0;
    }
  }
  .project_home_five {
    padding: 30px 0;
  }
  .project_home_two{
    &.project_home_three {
      padding: 30px 0;
    }
  }

  .rating_sec {
    padding: 30px;
  }
  .navbar{
    .menu-btn {
      width: 100%;
      margin: 0;
    }
    &.nav_3 {
      &:after {
        width: 110%;
      }
    }
  }
  .our_project{
    .mobile-btn{
      display: block;
      color: $color_tundora;
      font-weight: 600;
      border-bottom: 1px solid;
      padding: 5px 15px;
      cursor: pointer;
      text-transform: uppercase;
      &:hover{
        color: $primary_color;
      }
    }
    .project_button {
      &.active{
        color: $primary_color;
        background-color: unset;
        border-bottom: 1px solid $primary_color;
      }
      padding: 10px 15px;
      margin-bottom: unset;
      text-align: left;
      border-bottom: 1px solid rgba(68, 68, 68, 0.51);
      &:hover{
        background-color: unset;
        color: $primary_color;
        border: none;
        font-weight: 700;
        border-bottom: 1px solid $primary_color;
      }
    }
    .project_row {
      .filter {
        flex: 0 0 100%;
        max-width: calc(100% - 30px);
        margin: 30px 15px 0 !important;
        &:first-child(1) {
          margin: 0 15px 30px !important;
        }
      }
      figure{
        &.snip_con {
          figcaption {
            .text_pro {
              width: 70%;
              h4,h6  {
                margin-left: 20px;
              }
            }
            .link_icon {
              width: 30%;
              a{
                padding: 15px;
                &.zoom_gallery {
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  .project_home_two{
    .our_project_2{
      .mobile-btn{
        display: block;
        color: $color_tundora;
        font-weight: 600;
        padding: 5px 15px;
        cursor: pointer;
        text-transform: uppercase;
        &:hover{
          color: $primary_color;
        }
      }
      .project_button {
        &.active{
          color: $primary_color;
          background-color: unset;
        }
        padding: 10px 15px;
        margin-bottom: unset;
        text-align: left;
        &:hover{
          background-color: unset;
          color: $primary_color;
          border: none;
          font-weight: 700;
        }
      }
    }
  }
  .project_home_four{
    .filter{
      margin-top: 30px;
    }
    .our_project_4{
      .mobile-btn{
        display: block;
        color: $color_tundora;
        font-weight: 600;
        border-bottom: 1px solid;
        padding: 5px 15px;
        cursor: pointer;
        text-transform: uppercase;
        &:hover{
          color: $primary_color;
        }
      }
      .project_button {
        &.active{
          color: $primary_color;
          background-color: unset;
          border-bottom: 1px solid $primary_color;
        }
        padding: 10px 15px;
        margin-bottom: unset;
        text-align: left;
        border-bottom: 1px solid rgba(68, 68, 68, 0.51);
        &:hover{
          background-color: unset;
          color: $primary_color;
          border: none;
          font-weight: 700;
          border-bottom: 1px solid $primary_color;
        }
      }
    }
  }
  .project_home_five{
    .our_project_2{
      .mobile-btn{
        display: block;
        margin-bottom: 15px;
        color: $primary_color;
        font-weight: 600;
        border-bottom: 1px solid;
        padding: 5px 15px;
      }
      .project_button {
        &.active{
          color: $primary_color;
          background-color: unset;
        }
        padding: 10px 15px;
        margin-bottom: unset;
        text-align: left;
        &:hover{
          background-color: unset;
          color: $primary_color;
          border: none;
          font-weight: 700;
        }
      }
    }
  }
  .about_us_sec {
    &.about_page {
      .about_us_4{
        img{
          display: none;
        }
      }
    }
  }
  .about_sec{
    .about_sec_con {
      .about_content{
        margin-bottom: 15px;
        p{
          margin-top: 10px;
        }
      }
    }
    &.about_sec_2 {
      .about_sec_con {
        .about_content{
          margin-bottom: 20px;
        }
      }
    }
  }

  .tap-top {
    &.fb-top {
      bottom: 30px;
    }
  }

  #form1 {
    display: none;
    transition: all 0.5s ease;
  }
  .mobile-btn {
    position: relative;
    display: block;
    .according-menu {
      font: bold 16px/34px monospace !important;
      &:before {
        content: "+";
        position: absolute;
        right: 15px;
      }
    }
  }
  .filter-button {
    width: 100%;
  }

  .quote_form {
    .form-row {
      .form-group {
        .form-control {
          padding: 8px 15px;
        }
      }
    }
    .quote_btn {
      margin-top: 10px;
    }
  }

  .faq_section {
    .accordion {
      &.faq_sec {
        .card {
          .card-header {
            padding: 0.35rem 1rem;
          }
        }
      }
    }
    &.home_faq_3{
      .accordion {
        &.faq_sec {
          .card {
            .card-header {
              h5{
                .collapsed , button {
                  &:before {
                    top: 15px;
                  }
                }
                button{
                  padding: 10px 20px;
                  &:before{
                    top: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .newsletter_sec{
    .bdr_right{
      .call_us{
        margin-bottom: 15px;
      }
    }
    .input-group{
      margin-top: 20px;
    }
  }
  #fb-root{
    display: none;
  }
  .con_title {
    margin-bottom: 25px;
  }
  .con_title {
    h6 {
      span {
        &:after, &:before {
          right: -75px;
        }
        &:before {
          left: -75px;
        }
      }
    }
  }

  .con_btn {
    padding: 7px 12px;
  }

  h1 {
    &.top {
      margin-top: -5px;
    }
  }

  .home_1_news{
    &.blog_page{
      .news_sec{
        margin-top: 30px;
      }
      .row{
        > div{
          &:nth-child(-n+3){
            .news_sec{
              margin-top: 30px;
            }
          }
          &:nth-child(-n+1){
            .news_sec{
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  .home_slider {
    .slide_1 {
      height: 60vh;
      .home_cun_slider_1 {
        height: 60vh;
      }
      .slider_content {
        height: 60vh;
        h3{
          margin-top: 15px;
        }
        .slider_btn{
          margin-top: 15px;
        }
      }
    }
    &.home_2_slider {
      .slide_1 {
        height: 50vh;
        .home_cun_slider_1 {
          height: 50vh;
          .slider_content {
            height: 50vh
          }
        }
      }
    }
    &.home_3_slider{
      .slide_1 {
        height: 50vh;
        .home_cun_slider_1 {
          height: 50vh;
          .slider_content {
            height: 50vh;
          }
        }
      }
    }
    &.home_4_slider{
      .slide_1 {
        height: 50vh;
        .home_cun_slider_1 {
          height: 50vh;
          .slider_content {
            height: 50vh;
            .slider_btn_4 {
              margin-top: 20px;
            }
          }
        }
      }
    }
    &.home_5_slider{
      .slide_1 {
        height: 50vh;
        .home_cun_slider_1 {
          height: 50vh;
          .slider_content{
            height: 50vh;
            .slider_btn{
              margin-top: 25px;
            }
          }
        }
      }
    }
  }

  .our_service {
    .row {
      > div {
        &:nth-last-child(-n + 5) {
          .service_our {
            margin-top: 25px;
          }
        }
      }
    }
  }
  .our_service_2{
    .row{
      > div{
        &:nth-last-child(-n + 5){
          .service_our_2 {
            margin-top: 25px;
          }
        }
      }
    }
  }
  .our_service_4{
    .row {
      > div {
        &:nth-last-child(-n + 5){
          .service_our {
            margin-top: 30px;
          }
        }
      }
    }
  }
  .our_project{
    .project_button {
      margin-bottom: 5px;
    }
  }

  .cdp {
    padding: 30px 0 0 0;
  }
  .single_blog_item {
    .blog-text {
      .blog-description {
        padding-bottom: 15px;
        p {
          line-height: 1.4em;
        }
      }
    }
  }
  .page-header-comment {
    margin-top: 15px;
  }
  .blog_comment{
    &.comment-list {
      .comment_sec {
        padding: 15px 0 0 ;
        .blog_center {
          .thumbnail{
            img{
              width: 70px;
            }
          }
          .blog_user {
            padding: 0 10px;
            margin-left: 10px;
            &.left{
              &:after {
                left: -10px;
                top: 36px;
                border-width: 10px;
              }
              &:before {
                left: -11px;
                top: 36px;
                border-width: 10px;
              }
            }
            .panel-body {
              .text-left {
                padding: 5px 0;
                .right_text {
                  padding: 5px 20px;
                }
              }
              .comment-post{
                p {
                  padding: 5px 0 0 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .home_1_team{
    &.home_4_team {
      &.team_page{
        .row {
          > div{
            &:nth-last-child(-n+5) {
              .team_sec_2 {
                margin-top: 30px;
              }
            }
          }
        }
      }
    }
  }

}

@media (max-width: 480px){

  h1 {
    &.top {
      margin-top: -4px;
    }
  }

  .home_slider {
    .slide_1 {
      .slider_content {
        h3 {
          &.home_2_title{
            margin-top: 53px;
          }
        }
        .slider_btn_2 {
          margin-top: 35px;
        }
      }
    }
  }
  .navbar{
    .navbar-nav{
      .nav-item{
        .nav-link{
          padding: 15px;
        }
      }
    }
    &.nav_3 {
      .navbar-nav{
        .nav-item{
          &:first-child{
            .nav-link{
              padding: 10px 0 20px 15px;
            }
          }
          .nav-link{
            font-weight: 600;
            padding: 0 0 20px 15px;
          }
        }
      }
      &:after {
        width: 125%;
      }
    }
    &.nav_4 {
      .navbar-nav{
        .nav-item{
          .nav-link{
            font-weight: 500;
            padding: 15px;
          }
        }
      }
      &:after {
        width: 125%;
      }
    }
  }
  .project_button {
    padding: 10px 15px;
    margin-bottom: 10px;
  }
  .home_slider {
    .slide_1 {
      .slider_content {
        h3 {
          line-height: 1.5em;
          letter-spacing: 0.01em;
          font-size: 14px;
        }
        .slider_btn {
          margin-top: 10px;
        }
        .slider_btn_2{
          margin-top: 20px;
        }
      }
    }
    &.home_3_slider{
      .slide_1 {
        height: 50vh;
        .slider_content{
          height: 50vh;
          h3{
            &.home_2_title{
              &:after{
                margin: 10px 0 10px 0;
              }
            }
          }
          h5{
            margin-top: 10px;
            line-height: 1.5em;
            letter-spacing: 0.05em;
          }
          .slider_btn_3 {
            margin-top: 20px;
          }
        }
      }
    }
    &.home_4_slider{
      .slide_1 {
        height: 50vh;
        .slider_content{
          height: 50vh;
        }
      }
    }
    &.home_5_slider{
      .slide_1 {
        height: 50vh;
        .home_cun_slider_1 {
          height: 50vh;
          .slider_content{
            height: 50vh;
          }
        }
      }
    }
  }

  .our_service_2{
    .service_our_2{
      .service_content{
        p{
          line-height: 2.5em;
          margin-bottom: 0;
        }
      }
    }
  }
  .our_service {
    .row {
      > div {
        &:nth-last-child(-n + 5) {
          .service_our {
            margin-top: 25px;
          }
        }
      }
    }
  }
  .our_service_2{
    .row {
      > div {
        &:nth-last-child(-n + 5) {
          .service_our_2 {
            margin-top: 25px;
          }
        }
      }
    }
  }
  .project_home_four {
    .filter {
      &:nth-last-child(-n + 5) {
        margin-top: 30px;
      }
    }
  }

  .our_service_4 {
    .row {
      > div {
        &:nth-last-child(-n + 5) {
          .service_our {
            margin-top: 30px;
          }
        }
      }
    }
  }
  .quote_form{
    .quote_btn{
      .con_btn_eff{
        width: 430px;
        height:50px;
      }
    }
  }
  .brand_slide{
    &.owl-carousel{
      .owl-item{
        img{
          padding: 0 60px;
        }
      }
    }
  }
  .testimonial {
    .testimonial_slide{
      .testimonial_sec{
        .img_quote{
          left: 160px;
        }
        p{
          line-height: 20px;
          letter-spacing: unset;
          .quote_left {
            left: -5px;
          }
          .quote_right {
            right: -5px;
          }
        }
      }
    }
  }
  .copyright_sec {
    .cop_p {
      p {
        text-align: center;
        line-height: 20px;
      }
    }
    .copy_link {
      ul {
        text-align: center;
      }
    }
  }
  .banner_project {
    .bot_center {
      .banner_text {
        padding: 25px 30px;
        .text_since {
          letter-spacing: 0;
        }
      }
    }
  }
  .blog_comment{
    &.comment-list {
      .comment_sec {
        .blog_center {
          display: unset;
          .thumbnail{
            display: inline-block;
            margin-bottom: 10px;
          }
          .blog_user {
            display: flex;
            margin-left: 0;
            margin-bottom: 0px;
            &.left{
              &:after {
                left: 15px;
                top: -15px;
                border-width: 10px;
                transform: rotate(90deg);
              }
              &:before{
                left: 15px;
                top: -16px;
                transform: rotate(90deg);
                border-width: 10px;
              }
            }
            .panel-body {
              .text-left {

                .right_text {
                  padding: 5px 3px;
                }
              }
            }
          }
        }
      }
    }
  }
  .comment_form{
    .title {
      margin-top: 30px;
    }
    .comment-form{
      .form-field {
        margin: 20px 0;
      }
    }
  }
  .cdp {
    &_i {
      margin: 0 2px 0;
      height: 35px;
      min-width: 25px;
      line-height: 33px;
      &:first-child,
      &:last-child {
        padding: 0 10px;
        margin: 0;
      }
    }
  }

  .pagination_sec{
    .cdp {
      padding: 30px 0 0 0;
    }
  }
  .coming-sec {
    .content {
      h1 {
        margin-bottom: 10px;
      }
    }
  }

  body.rtl{
    .navbar{
      &.nav_3 {
        .navbar-nav {
          .nav-item{
            &:last-child {
              .nav-link {
                padding-right: 0;
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }

}

@media (max-width: 420px){

  .navbar {
    padding: 0 10px!important;
    .navbar-light {
      .navbar-brand{
        width: 120px;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 10px 0;
        }
      }
    }
    &.nav_2{
      .navbar-nav{
        .nav-item{
          .nav-link {
            padding: 10px;
          }
        }
      }
    }
    &.navbar-light {
      .navbar-toggler {
        margin-right: 0;
      }
      .navbar-brand {
        margin-left: 0;
      }
    }
    &.nav_3 {
      &:after {
        width: 135%;
        transform: skew(0deg);
      }
    }
  }
  .home_slider {
    .slide_1 {
      .slider_content {
        h3 {
          &.home_2_title{
            margin-top: 48px;
            &:after {
              margin: 10px 0;
            }
          }
        }
        .slider_btn_2 {
          margin-top: 20px;
        }
      }
    }
    &.home_4_slider{
      h1{
        &.top{
          margin-top: -4px;
        }
      }
    }
  }
  .brand_slide{
    &.owl-carousel{
      .owl-item{
        img{
          padding: 0 25px;
        }
      }
    }
  }
  .brand_slide{
    &.owl-carousel{
      .owl-item{
        img{
          padding: 0 40px;
        }
      }
    }
  }
  .about_sec {
    .about_sec_con{
      display: flex;
      text-align: center;
      .about_content{
        p{
          line-height: 1.7em;
          letter-spacing: 0.01em;
        }
      }
    }
  }
  .faq_section {
    .accordion {
      &.faq_sec {
        .card {
          .card-body{
            padding: 10px 12px;
          }
          .card-header {
            padding: 0.35rem 1rem;
            button{
              padding: 0.2rem 0.0rem;
            }
            h5{
              .collapsed , button{
                &:before{
                  top: 10px;
                  right: 5px;
                }
              }
              button{
                &:before{
                  top: 10px;
                  right: 5px;
                }
              }
            }
          }
        }
      }
    }
    .faq_strength {
      background-color: white;
      .media {
        padding: 13px 10px;
        &:nth-last-child(2) {
          padding: 0 10px;
        }
      }
    }
    &.home_faq_2{
      .accordion{
        &.faq_sec {
          .card{
            .card-header{
              padding: 0.35rem 1rem;
            }
          }
        }
      }
    }
    &.home_faq_3 {
      .accordion{
        &.faq_sec{
          .card {
            .card-header {
              h5{
                .collapsed , button{
                  &:before{
                    top: 15px;
                  }
                }
                button{
                  padding: 10px 20px;
                  &:before{
                    top: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .testimonial {
    .testimonial_slide {
      .testimonial_sec {
        .img_quote {
          left: 130px;
        }
        p {
          line-height: 1.5em;
          letter-spacing: 0.05em;
          padding: 25px 0;
        }
      }
    }
  }

  .our_project{
    .project_row {
      figure{
        &.snip_con {
          figcaption {
            .link_icon {
              a{
                padding: 10px;
                &.zoom_gallery {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  body {
    &.rtl {
      .navbar{
        &.nav_4{
          .navbar-nav {
            .nav-item{
              &:last-child {
                .nav-link {
                  padding-right: 14px;
                }
              }
            }
          }
          &.navbar-light {
            .navbar-brand {
              margin-right: unset;
              width: unset;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 400px){

  .navbar{
    &.nav_3{
      .navbar-nav{
        .nav-item{
          &:first-child{
            .nav-link{
              padding: 12px 0;
            }
          }
          .nav-link{
            padding: 12px 0;
          }
        }
      }
    }
    &.nav_4{
      .navbar-nav{
        .nav-item{
          &:first-child{
            .nav-link{
              padding: 10px 0 15px 15px;
            }
          }
        }
      }
    }
  }
  .testimonial {
    .testimonial_slide {
      .testimonial_sec {
        .img_quote {
          left: 117px;
        }
        p {
          line-height: 1.5em;
          letter-spacing: 0.05em;
          padding: 25px 0;
        }
      }
    }
  }

  body {
    &.rtl {
      .navbar{
        &.nav_4{
          .navbar-nav{
            .nav-item{
              &:first-child{
                .nav-link{
                  padding: 15px;
                }
              }
            }
          }
        }
      }
    }
  }


}

@media (max-width: 360px){

  h1 {
    &.top {
      margin-top: -3px;
    }
  }
  .top-contact {
    .top-social {
      ul {
        li {
          &:last-child {
            padding-left: 5px;
            padding-top: 6px;
          }
          i{
            padding: 10px;
          }
        }
      }
    }
  }
  .navbar{
    &.nav_3{
      .navbar-nav{
      }
      &:after{
        width: 150%;
      }
    }
  }
  .brand_slide{
    &.owl-carousel{
      .owl-item{
        img{
          padding: 0 20px;
        }
      }
    }
  }
  .our_service {
    .service_our {
      .service_content {
        h5{
          margin-left: 15px;
        }
        .service_icon{
          margin-top: 10px;
        }
      }
    }
  }

  .our_service_2{
    .service_our_2{
      .service_content{
        p{
          margin-bottom: -3px;
        }
      }
    }
  }
  .testimonial {
    .testimonial_slide {
      .testimonial_sec {
        .img_quote {
          left: 100px;
        }
        p {
          line-height: 1.5em;
          letter-spacing: 0.05em;
          padding: 25px 0;
        }
      }
    }
  }
  .pagination_sec {
    .cdp_i {
      margin: 0 1px 0;
      &:first-child{
        margin: 0;
      }
      &:last-child{
        margin: 0;
      }
    }
  }

  .banner_project {
    .bot_center {
      .banner_text {
        padding: 17px 15px;
      }
    }
  }

  .portfolio-section {
    #form2 {
      padding-bottom: 20px;
    }
  }

  body{
    &.rtl {
      .navbar{
        &.nav_4 {
          .navbar-nav {
            .nav-item{
              &:first-child {
                .nav-link {
                  padding: 14px;
                }
              }
            }
          }
        }
      }
      .top-contact {
        .top-social {
          ul {
            li{
              &:last-child {
                padding-right: 5px;
              }
              i {
                padding: 8px;
              }
            }
          }
        }
      }
    }
  }


}

@media (max-width: 340px){
  .our_service_2{
    .service_our_2{
      .service_content{
        p{
          line-height: 1.7em;
          margin-bottom: 0;
        }
      }
    }
  }
  .our_project {
    .project_row {
      figure{
        &.snip_con {
          figcaption {
            .text_pro {
              width: 65%;
              h4,h6  {
                margin-left: 10px;
              }
            }
            .link_icon {
              width: 35%;
              a{
                &.zoom_gallery {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .banner_project {
    .bot_center {
      .banner_text {
        padding: 15px 10px;
      }
    }
  }

}

@media (max-width: 320px){

  h1 {
    &.top {
      margin-top: -4px;
    }
  }
  .navbar {
    &.nav_3 {
      .navbar-nav {
      }
      &:after {
        width: 170%;
      }
    }
  }
  .home_slider {
    .slide_1 {
      .slider_content {
        h3 {
          &.home_2_title{
            margin-top: 47px;
            &:after {
              margin: 10px 0;
            }
          }
        }
        .slider_btn_2 {
          margin-top: 20px;
        }
      }
    }
  }
  .project_button {
    padding: 7px 10px;
  }
  .testimonial {
    .testimonial_slide {
      .testimonial_sec {
        .img_quote {
          left: 80px;
        }
        p {
          padding: 25px 0;
        }
      }
    }
  }

}


