<!-- News Start -->
<section class="home_1_news">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="con_title">
                  <h2>RECENT NEWS</h2>
                  <h6><span>FROM THE BLOG</span></h6>
              </div>
          </div>
          <div class="col-md-12">
                <owl-carousel [options]="myslideroption" Items=""  [carouselClasses]="['news_slide', 'owl-theme', 'sliding']">
                  <div class="item" *ngFor="let data of datas">
                      <div class="news_sec">
                          <figure class="snip_con">
                              <img [src]="data.img" alt="" class="img-fluid">
                          </figure>
                          <div class="text_p">
                              <div class="date_sec">
                                  <div>
                                      <h4>{{data.day}}</h4>
                                      <h6>{{data.month}}</h6>
                                  </div>
                              </div>
                              <h4>{{data.heading}}</h4>
                              <p>{{data.description}}</p>
                              <h6 class="readmore"><a href="blog-details.html">Read More</a></h6>
                          </div>
                      </div>
                  </div>
                </owl-carousel>
          </div>
      </div>
  </div>
</section>
<!-- News Start -->