<!-- Testimonial Start -->
<section class="testimonial">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
                <owl-carousel [options]="myslideroptions"  [carouselClasses]="['testimonial_slide', 'owl-theme', 'sliding']">
                  <div class="testimonial_sec" *ngFor="let data of datas">
                      <div>
                          <img [src]="data.img" alt="testimonialimage" >
                          <i class="fa fa-quote-left img_quote" aria-hidden="true"></i>
                          <p><span class="quote_left"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
                             {{data.review}}<span class="quote_right"><i class="fa fa-quote-right" aria-hidden="true"></i></span></p>
                          <h3>{{data.name}}</h3>
                          <h5>{{data.designation}}</h5>
                      </div>
                  </div>
            </owl-carousel>
            </div>
      </div>
  </div>
</section>
<!-- Testimonial End -->
