<!-- About Us Start -->
<section id="about_us" class="about_us_sec about_us_6">
  <img src="assets/images/construction_6/build.png" data-aos="fade-right" alt="" class="about_img about_machine">
  <div class="container about_sec about_sec_2">
      <div class="row">
          <div class="col-lg-6 col-12">
              <div class="about_sec_con">
                  <div>
                      <div class="con_title">
                          <h2>About Us</h2>
                      </div>
                      <div class="about_content">
                          <h3>The Buildify Construction More Than 30 Years on Building Market</h3>
                          <p>
                              Lorem Ipsum is simply dummy text of the printing and type
                              setting industry. Lorem Ipsum has been the industry's standard
                              dummy text ever since the 1500s, when an unknown printer
                              took a galley of typeand scrambled it to
                          </p>
                      </div>
                      <div class="center_btn">
                          <a class="about_btn con_btn btn_2" href="#">
                              READ MORE
                              <span class="con_btn_eff"></span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 about_2_img">
              <img src="assets/images/construction_6/about_sec.jpg" alt="" class="img-fluid">
          </div>
      </div>
  </div>
</section>
<!-- About Us End -->