a:hover {
    text-decoration: none;
}
section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.landing-nav .navbar-brand img {
    height: 60px;
}

.header-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.back-img{
    background-image: url(../images/lannd-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.fadinup .landing-title{
    text-align: center;
    text-transform: uppercase;
}

.demo-description{
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
}

.demo-title {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 0;
    color: #333;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.border-shape {
    display: block;
    left: 0;
    margin: 15px auto;
    background-color: #ffb200;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
    height: 4px;
}

.landing-title{
    text-align: center;
    text-transform: uppercase;
}

p.landing-caption.title{
    font-size: 30px;
    line-height: 1.5;
    color: #444444;
    font-weight: 700;
    margin-bottom: 5px;
}

.font-class {
    font-size: 22px;
    font-weight: 400;
}

.main-logo {
    width: 185px;
}

.landing-caption.text_p{
    color: white;
    font-size: 30px;
    margin-bottom: 0;
    line-height: 40px;
}

.fadeInLeft-land-caption .center_btn{
    display: flex;
    margin-top: 20px;
}

.fadeInLeft-land-caption .center_btn .con_btn{
    padding: 14px 26px;
    border: 2px solid #444;
    float: left;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 0;
}
.fadeInLeft-land-caption .con_btn .con_btn_eff {
    width: 100%;
    height: 55px;
    border: 70px solid #444;
    top: 0;
    left: 0;
    background-color:  #f6bc34;
    position: absolute;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: -1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.fadeInLeft-land-caption .con_btn:hover {
    color: #444;
}
.fadeInLeft-land-caption .con_btn:hover .con_btn_eff {
    border: 0 solid #444;
}

.landing-caption.text_p span{
    color: #444444;
    text-transform: uppercase;
    font-weight: 500;
}

.pages-space > div {
    margin-top: 50px;
}

.m-width{
    max-width: 1580px;
}

.landing-screen-animation > div {
    margin-top: 50px;
}
.navbar.nav_2 .navbar-nav .nav-item.dropdown .dropdown-menu .nav-item .nav-link:hover {
    color: #ffc412 !important;
}
.home-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100vh - 74px);
    margin-top: -27px;
}
.landing-nav .navbar-brand img{
    height: 60px;
}

.navbar.nav_2 .navbar-nav .nav-item .nav-link {
    color: #444;
}

.pc-bg{
    background-image: url(../images/screen1.png);
    width: 515px;
    height: 325px;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
}

.features li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.fadin-blog.galley{
    background-color: #f5f5f5;
}

.features-img {
    width: 383px;
}

.features-bg {
    background-color: #f5f5f5;
}

.features li:hover h3 {
    color: #333;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.features li h3 {
    -webkit-transition: all 0.9s ease-out;
    transition: all 0.9s ease-out;
}

.features-title {
    font-weight: 700;
    color: #777;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}
.features {
    text-align: center;
}

.color_pic img{
    border: 2px solid #eee;
}

.template-bg {
    background: #333;
}

.navbar.nav_2 .navbar-nav .nav-item .nav-link {
    color: #444;
}
.navbar.nav_2 .navbar-nav .nav-item .nav-link:hover {
    color: #000;
}

.navbar.nav_2.fixed-top {
    background-color: #fff;
}

.tapl-title {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.rating-title {
    color: #333;
    margin: 25px auto;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.fadeInLeft-land-caption ul li{
    margin: 0 10px;
}

.copyright-section p {
    text-align: center;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
}

.download{
    padding-top: 70px;
    padding-bottom: 70px;
}

.pc-bg:hover .img-scroll {
    background-position: center 100% !important;
}

.tamp-d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.img-scroll {
    -webkit-transition: all 9s ease-out 0s;
    transition: all 9s ease-out 0s;
    background-position: center 0;
    background-repeat: no-repeat;
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 25px);
    top: 20px;
    left: 3px;
    background-size: cover;
}

.features li:hover img {
    -webkit-box-shadow: 0 0 35px #33333326;
    box-shadow: 0 0 35px #33333326;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.features li img {
    -webkit-transition: all 0.9s ease-out;
    transition: all 0.9s ease-out;
}

.con_btn{
    padding: 14px 26px;
    border: 2px solid #ffc412;
    float: left;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    color: #444444;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 0;
}
.con_btn .con_btn_eff {
    width: 100%;
    height: 55px;
    border: 70px solid #ffc412;
    top: 0;
    left: 0;
    background-color: #ffffff;
    position: absolute;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: -1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.con_btn:hover {
    color: black;
}
.con_btn:hover .con_btn_eff {
    border: 0 solid #ffc412;
}

@media (max-width: 1669px) and (min-width: 1367px){
    .features-img {
        width: 284px;
    }
}

@media (max-width: 1440px){
    .pc-bg {
        width: 430px;
        height: 255px;
        background-size: contain;
    }


    /*.home-contain {*/
        /*margin-top: -280px;*/
    /*}*/

    .img-scroll {
        width: calc(100% - 35px);
        height: calc(100% - 17px);
        top: 15px;
        left: 1px;
    }
    .back-img {
        background-position: unset;
    }
    p.landing-caption.title {
        font-size: 36px;
    }
    .landing-caption.text_p {
        font-size: 26px;
    }
    .fadeInLeft-land-caption {
        text-align: unset;
    }
    .fadeInLeft-land-caption .center_btn {
        justify-content: unset;
    }
}

@media (max-width: 1366px){
    .pc-bg {
        width: 350px;
        height: 210px;
        background-size: contain;
    }

    .img-header-layout {
        margin-left: -275px;
    }

    .coming-title {
        margin-top: 10px;
    }

    .features {
        text-align: center;
    }
    .features img {
        width: 100px;
    }

    .home-contain {
        margin-top: -348px;
    }

    .img-scroll {
        width: calc(100% - 25px);
        height: calc(100% - 17px);
        top: 15px;
        left: 1px;
    }
    .features-title {
        font-size: 14px;
    }
    .tapl-title {
        font-size: 32px;
    }
}

@media (max-width: 1199px){

    .features-img {
        width: 230px;
    }
    section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    h2 {
        font-size: 26px;
    }
    .home-contain {
        justify-content: center;
    }

    .tapl-title {
        font-size: 29px;
    }
    .coming-title {
        font-size: 28px;
    }
}

@media (max-width: 1024px){
    .img-scroll {
        width: calc(100% - 23px);
        height: calc(100% - 17px);
        top: 15px;
        left: 1px;
    }
    .pc-bg {
        width: 300px;
        height: 180px;
    }
    .features li {
        padding: 40px 0;
    }
}

@media (max-width: 991px){
    .features img {
        width: 80px;
    }
    .img-scroll {
        width: calc(100% - 45px);
        height: calc(100% - 17px);
        top: 15px;
        left: 1px;
    }
    .pc-bg {
        width: 400px;
        height: 230px;
    }
    h2 {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 25px;
    }
    .header-layout-img-set {
        display: none;
    }

    .home-contain {
        text-align: center;
        margin-top: 0;
        height: calc(100vh - 255px);
    }
    .back-img {
        height: 80vh;
    }
    .navbar.nav_2 .navbar-nav .nav-item .nav-link {
        color: #fff;
    }

    .navbar.nav_2 .navbar-nav .nav-item .nav-link:hover{
        color: #ffc412;
    }
    .fadeInLeft-land-caption .center_btn {
        justify-content: center;
    }
    .navbar.nav_2.navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, 0.76);
        border-color: rgba(0, 0, 0, 0.36);
    }
}

@media (max-width: 768px){
    .landing-nav .navbar-brand img{
        height: 40px;
        margin: 10px;
    }
    .demo-description {
        margin-bottom: -25px;
    }
    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pages-space > div {
        margin-top: 35px;
    }
    .features-img {
        width: 250px;
    }
    p.landing-caption.title {
        font-size: 27px;
    }
    .landing-caption.text_p {
        font-size: 24px;
    }
    .font-class {
        font-size: 20px;
    }
    .features-img {
        width: 250px;
    }
    .landing-title {
        margin-bottom: 0;
    }
    .features li:nth-child(even) {
        border-right: none;
    }
    .tapl-title {
        font-size: 24px;
    }
    .center-sm {
        text-align: center;
    }
    .coming-title {
        font-size: 22px;
    }
    .garb-img {
        text-align: center;
        margin-top: 30px;
    }
    .center-sm .center_btn{
        display: flex;
        justify-content:center;
    }
}

@media (max-width: 576px){
    .features-img {
        width: 214px;
    }
    p.landing-caption.title {
        font-size: 24px;
        margin-bottom: 5px;
    }
    .landing-caption.text_p {
        font-size: 18px;
        line-height: 25px;
    }
    section, .address-bar {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .tapl-title {
        font-size: 18px;
    }
    .coming-title {
        font-size: 18px;
        line-height: 1.5;
    }
    .rating-star img {
        margin-right: 15px;
        width: 40px;
    }
}


@media (max-width: 480px){
    .pc-bg {
        width: 235px;
        height: 150px;
    }
    .features li {
        padding: 20px 0;
    }
    .img-scroll {
        width: calc(100% - 3px);
        height: calc(100% - 13px);
        top: 10px;
        left: 1px;
    }
}

@media (max-width: 479.5px) and (max-width: 480px){
    .features li {
        border-right: none;
    }
    .main-logo {
        width: 135px;
    }

    p.landing-caption.title {
        font-size: 18px;
    }
    .font-class {
        font-size: 15px;
    }
    .home-contain {
        height: calc(100vh - 400px);
    }
    .back-img {
        height: 60vh;
    }
    .fadeInLeft-land-caption ul li {
        margin: 0 5px;
    }
    .fadeInLeft-land-caption ul li img{
        width: 35px;
    }
}

@media (max-width: 400px) and (max-width: 480px){
    .features li {
        border-right: none;
    }
    .coming-title {
        margin-top: 10px;
    }
    .rating-star img {
        margin-right: 10px;
        width: 20px;
    }
}

@media (max-width: 460px){
    .features li {
         border-right: 0 solid #ddd;
    }

}



