<div class="footer_second">
        <div>
            <div class="footer-title">
                <h3>Services</h3>
            </div>
            <div class="footer-contant">
                <ul>
                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>Interior Renovation</a></li>
                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>Design and Build</a></li>
                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>Tiling and Painting</a></li>
                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>Paver Walkways</a></li>
                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>Household Repairs</a></li>
                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>Solar Systems</a></li>
                </ul>
            </div>
        </div>
    </div>