<div class="footer_forth">
        <div class="footer-title">
            <h3>Information</h3>
        </div>
        <div class="footer-contant">
            <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>Fiot Fashion Demo Store Demo Store India-3654123</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: 123-456-7898</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i>Email Us: Support@Fiot.com</li>
                <li><i class="fa fa-fax" aria-hidden="true"></i>Fax: 123456</li>
            </ul>
        </div>
    </div>