<section class="home_1_team">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="con_title team_title">
                  <h2>OUR team</h2>
                  <h6><span>WE ARE EXPERT IN</span></h6>
              </div>
          </div>
          <div class="col-12">
              <owl-carousel [options]="mySlideOptions" [carouselClasses]="['team_slide', 'owl-carousel', 'owl-theme']" > 
                  <div class="item" *ngFor="let datas of data">
                      <div class="team_sec">
                          <figure class="snip_con">
                              <img [src]="datas.img"  class="img-fluid" alt="serviceimage" >
                              <figcaption>
                                  <div>
                                      <h3>{{datas.name}}</h3>
                                      <h5>{{datas.desig}}</h5>
                                      <ul>
                                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                      </ul>
                                  </div>
                              </figcaption>
                          </figure>
                      </div>
                  </div>
                </owl-carousel>
              </div>
          </div>
      </div>
  </section>
  <!-- Our Team Start -->
  